.Dashboard-container {
  height: 100vh;
}

.Dashboard-sidebar {
  float: left;
  height: 100%;
  white-space: nowrap;
  overflow-y: auto;
  transition: width 1s;
}

.Dashboard-main {
  float: left;
  height: 100%;
  transition: width 1s;
}

.Dashboard-content {
  height: calc(100% - 56px);
  overflow: hidden;
}

.Dashboard-w-1 {
  width: 250px;
}

.Dashboard-w-2 {
  width: 0;
}

.Dashboard-w-3 {
  width: calc(100% - 250px);
}

.Dashboard-w-4 {
  width: 100%;
}