.Profile-info {
  max-width: 500px;
  margin: 0 auto;
}

.Profile-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: var(--color-5);
  border-radius: 50%;
}

.Profile-image > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}