:root {
  --color-1: #4169e1;
  --color-2: #6585e7;
  --color-3: #fff;
  --color-4: #000;
  --color-5: #e9eefc;
  --color-6: #ff0000;
  --color-7: #ff3333;
  --color-8: #d3dcf8;
  --color-9: #1e90ff;
}

.App {
  max-width: 1920px;
  margin: 0 auto;
}

.right-position-0 {
  right: 0;
}

.left-position-0 {
  left: 0;
}

.close-btn {
  display: block;
  height: 60px;
  width: 60px;
  border: none;
  background-color: var(--color-6);
  color: var(--color-3);
  font-size: 24px;
}

.close-btn:hover {
  background-color: var(--color-7);
}

.btn-h-1 {
  height: 50px;
}

.link-hover:hover {
  background-color: var(--color-9);
}