.Header {
  height: 60px;
  background-color: var(--color-1);
  color: var(--color-3);
}

.Header-heading {
  height: 100%;
}

.Header-heading > h4 {
  height: 100%;
  line-height: 60px;
  vertical-align: middle;
}

.Header-navItem {
  position: relative;
  float: left;
  height: 100%;
}

.Header-navLink {
  display: inline-block;
  height: 100%;
  line-height: 60px;
  vertical-align: middle;
  color: var(--color-3);
  text-decoration: none;
  padding: 0 1rem;
}

.Header-navLink:hover {
  background-color: var(--color-2);
}

.Header-itemCount {
  position: absolute;
  top: 10px;
  right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  background-color: var(--color-4);
  color: var(--color-3);
}

.Header-dropdownContent {
  position: absolute;
  top: 60px;
  display: none;
  background-color: var(--color-1);z-index: 2;
}

.Header-dropdown:hover .Header-dropdownContent {
  display: block;
}

.Header-dropdownItem {
  height: 40px;
  width: 150px;
}

.Header-dropdownLink {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  color: var(--color-3);
  text-decoration: none;
}

.Header-dropdownLink:hover {
  background-color: var(--color-2);
}

.Header-sidenavButton {
  display: none;
  height: 100%;
  padding: 0 1rem;
  border: none;
  background-color: var(--color-1);
  color: var(--color-3);
  font-size: 32px;
}

.Header-sidenavButton:hover {
  background-color: var(--color-2);
}

.Header-sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--color-5);
  overflow-y: auto;
  animation-name: fadeInAnimation;
  animation-duration: 0.5s;
  z-index: 2;
}

.Header-sidenavHeading {
  height: 60px;
}

.Header-sidenavHeading h4 {
  height: 100%;
  padding: 0 1rem;
  margin: 0;
  line-height: 60px;
  vertical-align: middle;
  color: var(--color-4);
}

.Header-sidenavItem {
  min-height: 40px;
}

.Header-sidenavLink {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  vertical-align: middle;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--color-4);
}

.Header-sidenavLink:hover {
  background-color: var(--color-8);
}

/* sdc = sidenav dropdown content */
.Header-sdc {
  display: none;
}

/* sd = sidenav dropdown */
.Header-sd:hover .Header-sdc {
  display: block;
}

/* sdi = sidenav dropdown item */
.Header-sdi {
  height: 40px;
}

/* sdl = sidenav dropdown link */
.Header-sdl {
  display: inline-block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  vertical-align: middle;
  text-decoration: none;
  color: var(--color-4);
  padding: 0 2rem;
}

.Header-sdl:hover {
  background-color: var(--color-8);
}

/* sic = sidenav item count */
.Header-sic {
  position: absolute;
  top: 0;
  left: 25px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  background-color: var(--color-4);
  color: var(--color-3);
}

.Header-miniCart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--color-5);
  color: var(--color-4);
  z-index: 2;
}

/* mch = mini cart header */
.Header-mch {
  height: 60px;
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media only screen and (max-width: 768px) {
  .Header-navbar {
    display: none;
  }
  .Header-sidenavButton {
    display: block;
  }
}