.Header {
  height: 60px;
  background-color: var(--color-1);
  color: var(--color-3);
}

.Header-heading {
  height: 100%;
}

.Header-heading > h4 {
  height: 100%;
  line-height: 60px;
  vertical-align: middle;
}

.Header-navItem {
  position: relative;
  float: left;
  height: 100%;
}

.Header-navLink {
  display: inline-block;
  height: 100%;
  line-height: 60px;
  vertical-align: middle;
  color: var(--color-3);
  text-decoration: none;
  padding: 0 1rem;
}

.Header-navLink:hover {
  background-color: var(--color-2);
}

.Header-itemCount {
  position: absolute;
  top: 10px;
  right: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  background-color: #000;
  color: var(--color-3);
}

.Header-dropdownContent {
  position: absolute;
  top: 60px;
  display: none;
  background-color: var(--color-1);
}

.Header-dropdown:hover .Header-dropdownContent {
  display: block;
}

.Header-dropdownItem {
  height: 40px;
  width: 150px;
}

.Header-dropdownLink {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  color: var(--color-3);
  text-decoration: none;
}

.Header-dropdownLink:hover {
  background-color: var(--color-2);
}